<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <p class="lead">Automation is the path to a more productive and efficient future for the world. Our mission at Autofy, is to deliver that value to our clients today. We aim to develop custom solutions that can interact with any systems whether legacy or modern, in the goal of increasing efficiency, remove the volatility of human resources, and increasing margins for our clients.
		</p>
		<p class="lead">
		We offer free consulting sessions to sit down with our prospective clients to:
		</p>
		<p class="lead">map out business processes</p>
		<p class="lead">Identify automation requirements</p>
		<p class="lead">Calculate potential savings</p>
		<p class="lead">Provide a value based proposal for the business</p>
	</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
