<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui vivamus arcu felis bibendum ut tristique et. Diam maecenas ultricies mi eget mauris pharetra et. Nibh tellus molestie nunc non blandit massa enim. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Vestibulum lectus mauris ultrices eros in cursus turpis massa. Vitae tempus quam pellentesque nec nam. In hac habitasse platea dictumst quisque sagittis purus sit. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend. Neque sodales ut etiam sit amet nisl purus.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
